{% extends 'base.html' %}
{% block content %}
<a class="btn btn-warning home" href="{{ url_for('index') }}">Home</a>
<a class="btn btn-info refresh" href="{{ url_for('live') }}">Refresh</a>
<table class="world">
    {% for i in range(game.world|length) %}
        <tr>
            {% for j in range(game.world[i]|length) %}
                {% if game.world[i][j] == 1 %}
                    <td class="cell living-cell"></td>
                {% elif game.old_world[i][j] == 1 and game.world[i][j] == 0 %}
                    <td class="cell dead-cell"></td>
                {% else %}
                    <td class="cell"></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    <div class="counter">{{ game.counter }}</div>
</table>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        setInterval(() => window.location.reload(), 1000);
    </script>
{% endblock %}
